{% extends 'base.html.twig' %}

{% block title %}Sortir.eni{% endblock %}


{% block body %}
    <h1>Mon profil</h1>

    {{ form_start(profileForm) }}
    {{ form_row(profileForm.nom) }}
    {{ form_row(profileForm.prenom) }}
    {{ form_row(profileForm.email) }}
    {{ form_row(profileForm.telephone) }}
    {{ form_row(profileForm.password) }}
    {{ form_row(profileForm.city) }}

    <button class="btn">Enregistrer</button>
    {{ form_end(profileForm) }}

{% endblock %}

