{% extends 'base.html.twig' %}

{% block title %}Trip index{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <h1>Gestion des sorties</h1>
        <a href="{{ path('trip_new') }}" class="btn btn-success">Create new</a>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered" id="data-table">
                <thead>
                <tr>
                    <th class="th-sm" scope="col">Image</th>
                    <th class="th-sm" scope="col">Nom</th>
                    <th class="th-sm" scope="col">Date</th>
                    <th class="th-sm" scope="col">Date d'inscription</th>
                    <th class="th-sm" scope="col">Places</th>
                    <th class="th-sm" scope="col">Durée (mn)</th>
                    <th class="th-sm" scope="col">Status</th>
                    <th class="th-sm" scope="col">Cause</th>
                    <th class="th-sm" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for trip in trips %}
                    <tr scope="row">
                        <td>
                            <img src="{{ asset(trip.coverImage) }}" height="25" width="100"/>
                        </td>
                        <td>{{ trip.name }}</td>
                        <td>{{ trip.tripDate ? trip.tripDate|date('d-m-Y à H:i') : '' }}</td>
                        <td>{{ trip.inscriptionDate ? trip.inscriptionDate|date('d-m-Y à H:i') : '' }}</td>
                        <td>{{ trip.seat }}</td>
                        <td>{{ trip.duration }}</td>
                        <td>{{ trip.status.libelle }}</td>
                        <td>{{ trip.cause }}</td>
                        <td>
                            <div class="row mx-1">
                                <a href="{{ path('trip_show', {'id': trip.id}) }}">
                                    <i class="fas fa-eye"></i>
                                </a>
                                {% if trip.status.id != 6 %}
                                <a  class="red-text" data-toggle="modal" data-target="#basicExampleModal{{ trip.id }}">
                                    <i class="fas fa-ban"></i> Annuler
                                </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr scope="row">
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for trip in trips %}
        {{ include('includes/cancel_modal.html.twig', { 'trip': trip }) }}
    {% endfor %}
{% endblock %}
