<div class="modal fade" id="basicExampleModal{{ trip.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ path('trip_cancel', {'id': trip.id}) }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Annulation de {{ trip.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vous souhaitez annuler cette sortie, veuillez préciser un motif.</p>
                <div class="md-form">
                    <label for="reason{{ trip.id }}">Motifs</label>
                    <textarea class="md-textarea form-control" id="reason{{ trip.id }}" name="reason"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
        </form>
    </div>
</div>