<nav class="mb-1 navbar navbar-expand-lg navbar-dark success-color-dark lighten-1 {{ app.session.flashbag.peek('success')|length > 0 ? '' : '' }}">
    <a class="navbar-brand" href="{{ path('Index') }}">ENI Sortir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="{{ app.request.get('_route') == 'Index' ? 'active' }} nav-item">
                <a class="nav-link" href="{{ path('Index') }}">Accueil</a>
            </li>
            <li class="{{ app.request.get('_route') == 'app_profile' ? 'active' }} nav-item">
                <a class="nav-link" href="{{ path('app_profile') }}">Mon Profil</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Administration
                </a>
                <div class="dropdown-menu dropdown-success" aria-labelledby="navbarDropdownMenuLink-555">
                    <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
                    <a class="dropdown-item" href="{{ path('trip_index') }}">Sorties</a>
                    <a class="dropdown-item" href="{{ path('place_index') }}">Sites</a>
                    <a class="dropdown-item" href="{{ path('city_index') }}">Villes</a>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item mx-2">
                <a class="nav-link" href="{{ path('trip_new') }}"><i class="fas fa-plus-circle"></i> Créer une sortie</a>
            </li>
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle p-0" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset(app.user.avatar) }}" class="rounded-circle z-depth-0"
                         alt="avatar image" width="32" height="32">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-success"
                     aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>

            </li>
        </ul>
    </div>
</nav>