{% extends 'base.html.twig' %}

{% block title %}Lieux - ENI Sortir{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <h1>Gestion des Sites</h1>
        <a href="{{ path('place_new') }}" class="btn btn-success">Ajouter</a>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered" id="data-table">
                <thead>
                <tr>
                    <th class="th-sm">Libelle</th>
                    <th class="th-sm">Rue</th>
                    <th class="th-sm">Latitude</th>
                    <th class="th-sm">Longitude</th>
                    <th class="th-sm">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for place in places %}
                    <tr>
                        <td>{{ place.libelle }}</td>
                        <td>{{ place.street }}</td>
                        <td>{{ place.latitude }}</td>
                        <td>{{ place.longitude }}</td>
                        <td>
                            <a href="{{ path('place_show', {'id': place.id}) }}"><i class="fas fa-eye"></i></a>
                            <a href="{{ path('place_edit', {'id': place.id}) }}" class="green-text"><i class="fas fa-pen"></i></a>
                            {{ include('place/_delete_form.html.twig', {'place': place }) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
