<div class="card">
    <div class="card-body">
        <h3 class="card-title">Utilisateur</h3>
        <div class="card-text">
            {{ form_start(profileForm) }}
            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        {{ form_label(profileForm.nom) }}
                        {{ form_widget(profileForm.nom) }}
                        <small class="form-text text-danger mb-4">
                            {{ form_errors(profileForm.nom) }}
                        </small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        {{ form_label(profileForm.prenom) }}
                        {{ form_widget(profileForm.prenom) }}
                        <small class="form-text text-danger mb-4">
                            {{ form_errors(profileForm.prenom) }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        {{ form_label(profileForm.email) }}
                        {{ form_widget(profileForm.email) }}
                        <small class="form-text text-danger mb-4">
                            {{ form_errors(profileForm.email) }}
                        </small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        {{ form_label(profileForm.telephone) }}
                        {{ form_widget(profileForm.telephone) }}
                        <small class="form-text text-danger mb-4">
                            {{ form_errors(profileForm.telephone) }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        {{ form_label(profileForm.password.first) }}
                        {{ form_widget(profileForm.password.first) }}
                        <small class="form-text text-danger mb-4">
                            {{ form_errors(profileForm.password.first) }}
                        </small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        {{ form_label(profileForm.password.second) }}
                        {{ form_widget(profileForm.password.second) }}
                        <small class="form-text text-danger mb-4">
                            {{ form_errors(profileForm.password.second) }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="">
                        {{ form_label(profileForm.city) }}
                        {{ form_widget(profileForm.city) }}
                        <small class="form-text text-danger mb-4">
                            {{ form_errors(profileForm.city) }}
                        </small>
                    </div>
                </div>

                <div class="col">
                    <div class="md-from">
                        <div class="file-field">
                            <div class="btn btn-outline-success btn-sm float-left">
                                {{ form_label(profileForm.avatar) }}
                                {{ form_widget(profileForm.avatar) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate form-control" type="text" placeholder="Upload">
                            </div>
                        </div>
                    </div>
                    <small class="form-text text-danger mb-4">
                        {{ form_errors(profileForm.avatar) }}
                    </small>
                </div>
            </div>
            <div class="row mt-4">
                <button class="btn btn-success">Enregistrer</button>
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-primary">Retour</a>
            </div>
            {{ form_end(profileForm) }}
        </div>
    </div>
</div>